In [27]:
import pandas as pd
from datetime import timedelta
dataSet = pd.read_excel("Atendimento Links Aggreko.xlsx", sheet_name="Escala Oficial")
dataSet.head()

,COLABORADOR,OBRA,DATA,DIA,HORAS DE SOBRE AVISO,INICIO \nATENDIMENTO,FIM \nATENDIMENTO,HORAS,Unnamed: 8,Unnamed: 9,DEPOIS DAS 00:00,TOTAL DE AD NOTURNO,DESCRIÇÃO
0,MATHEUS LOBATO,92 98811-1225,2020-10-23,SEX,6,18:01:00,08:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,Disponivel
1,MATHEUS SOARES,92 99298-0086,2020-10-24,SÁB,24,08:01:00,08:00:00,1899-12-29 23:59:00,NaN,NaN,NaN,NaN,NaN
2,RODRIGO LUCENA,92 99242-6255,2020-10-25,DOM,24,08:01:00,08:00:00,1899-12-29 23:59:00,NaN,NaN,NaN,NaN,NaN
3,MARCUS COELHO,62 99149-7626,2020-10-26,SEG,6,18:01:00,08:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,Marcus Coelho
4,RHARYSON BRITO,62 98119-5060,2020-10-27,TER,6,18:01:00,08:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN

In [28]:
mes = 4

In [29]:
df=dataSet
#mask = df.drop(rows=(df['DATA'] < '21/03/2022')) #& (df['DATA'] <= '20/04/2022'))
#df.drop(df[df["A"]>4].index)
df2=df.drop(df[df['DATA']<'21/03/2022'].index)
df3=df2.drop(df2[df2['DATA']>'20/04/2022'].index)
df4=df3.drop(df3[df3['DATA'].isnull()].index)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arraylike.py:48: UserWarning: Parsing '21/03/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.lt)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arraylike.py:56: UserWarning: Parsing '20/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.gt)

In [30]:
len(df4)

31

In [31]:
df4.head()

,COLABORADOR,OBRA,DATA,DIA,HORAS DE SOBRE AVISO,INICIO \nATENDIMENTO,FIM \nATENDIMENTO,HORAS,Unnamed: 8,Unnamed: 9,DEPOIS DAS 00:00,TOTAL DE AD NOTURNO,DESCRIÇÃO
514,GABRIEL CALDAS,NaN,2022-03-21,SEG,6,17:01:00,07:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN
515,RUAN PABLO,NaN,2022-03-22,TER,6,17:01:00,07:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN
516,LUCAS RABELO,NaN,2022-03-23,QUA,6,17:01:00,07:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN
517,GABRIEL CALDAS,NaN,2022-03-24,QUI,6,17:01:00,07:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN
518,LUCAS RABELO,NaN,2022-03-25,SEX,6,17:01:00,07:00:00,1899-12-29 13:59:00,NaN,NaN,NaN,NaN,NaN

In [32]:
df4['COLABORADOR'].value_counts()

LUCAS RABELO      12
RUAN PABLO        11
GABRIEL CALDAS     8
Name: COLABORADOR, dtype: int64

In [33]:
df5=df4[['COLABORADOR', 'DATA', 'DIA']]

In [34]:
dff=df4[['COLABORADOR']].drop_duplicates()

In [35]:
dff

        COLABORADOR
514  GABRIEL CALDAS
515      RUAN PABLO
516    LUCAS RABELO

In [36]:
df5

        COLABORADOR       DATA  DIA
514  GABRIEL CALDAS 2022-03-21  SEG
515      RUAN PABLO 2022-03-22  TER
516    LUCAS RABELO 2022-03-23  QUA
517  GABRIEL CALDAS 2022-03-24  QUI
518    LUCAS RABELO 2022-03-25  SEX
519      RUAN PABLO 2022-03-26  SÁB
520    LUCAS RABELO 2022-03-27  DOM
521  GABRIEL CALDAS 2022-03-28  SEG
522      RUAN PABLO 2022-03-29  TER
523    LUCAS RABELO 2022-03-30  QUA
524      RUAN PABLO 2022-03-31  QUI
525  GABRIEL CALDAS 2022-04-01  SEX
526    LUCAS RABELO 2022-04-02  SÁB
527      RUAN PABLO 2022-04-03  DOM
528    LUCAS RABELO 2022-04-04  SEG
529      RUAN PABLO 2022-04-05  TER
530    LUCAS RABELO 2022-04-06  QUA
531  GABRIEL CALDAS 2022-04-07  QUI
532      RUAN PABLO 2022-04-08  SEX
533    LUCAS RABELO 2022-04-09  SÁB
534  GABRIEL CALDAS 2022-04-10  DOM
535      RUAN PABLO 2022-04-11  SEG
536    LUCAS RABELO 2022-04-12  TER
537  GABRIEL CALDAS 2022-04-13  QUA
538      RUAN PABLO 2022-04-14  QUI
539    LUCAS RABELO 2022-04-15  SEX
540  GABRIEL CALDAS 2022-04-16  SÁB
541    LUCAS RABELO 2022-04-17  DOM
542      RUAN PABLO 2022-04-18  SEG
543    LUCAS RABELO 2022-04-19  TER
544      RUAN PABLO 2022-04-20  QUA

In [37]:
dias= {
    'SEG': 14,
    'TER': 14,
    'QUA': 14,
    'QUI': 14,
    'SEX': 14,
    'SÁB': 24,
    'DOM': 24
}
semana=['SEG','TER','QUA','QUI','SEX']

In [38]:
df5['HORAS DE SOBRE AVISO']=df5.DIA.map(dias)
#data_label_map['tipo'] = data_label_map.diagnosis.map(troca)

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\3074727628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['HORAS DE SOBRE AVISO']=df5.DIA.map(dias)

In [39]:
df5

        COLABORADOR       DATA  DIA  HORAS DE SOBRE AVISO
514  GABRIEL CALDAS 2022-03-21  SEG                    14
515      RUAN PABLO 2022-03-22  TER                    14
516    LUCAS RABELO 2022-03-23  QUA                    14
517  GABRIEL CALDAS 2022-03-24  QUI                    14
518    LUCAS RABELO 2022-03-25  SEX                    14
519      RUAN PABLO 2022-03-26  SÁB                    24
520    LUCAS RABELO 2022-03-27  DOM                    24
521  GABRIEL CALDAS 2022-03-28  SEG                    14
522      RUAN PABLO 2022-03-29  TER                    14
523    LUCAS RABELO 2022-03-30  QUA                    14
524      RUAN PABLO 2022-03-31  QUI                    14
525  GABRIEL CALDAS 2022-04-01  SEX                    14
526    LUCAS RABELO 2022-04-02  SÁB                    24
527      RUAN PABLO 2022-04-03  DOM                    24
528    LUCAS RABELO 2022-04-04  SEG                    14
529      RUAN PABLO 2022-04-05  TER                    14
530    LUCAS RABELO 2022-04-06  QUA                    14
531  GABRIEL CALDAS 2022-04-07  QUI                    14
532      RUAN PABLO 2022-04-08  SEX                    14
533    LUCAS RABELO 2022-04-09  SÁB                    24
534  GABRIEL CALDAS 2022-04-10  DOM                    24
535      RUAN PABLO 2022-04-11  SEG                    14
536    LUCAS RABELO 2022-04-12  TER                    14
537  GABRIEL CALDAS 2022-04-13  QUA                    14
538      RUAN PABLO 2022-04-14  QUI                    14
539    LUCAS RABELO 2022-04-15  SEX                    14
540  GABRIEL CALDAS 2022-04-16  SÁB                    24
541    LUCAS RABELO 2022-04-17  DOM                    24
542      RUAN PABLO 2022-04-18  SEG                    14
543    LUCAS RABELO 2022-04-19  TER                    14
544      RUAN PABLO 2022-04-20  QUA                    14

In [40]:
#pd.DataFrame(target).value_counts(normalize=True)['M']
#pd.DataFrame(df4).value_counts()[df4['HORAS DE SOBRE AVISO']]
df5.groupby(['COLABORADOR', 'HORAS DE SOBRE AVISO']).sum()

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\1882258705.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  df5.groupby(['COLABORADOR', 'HORAS DE SOBRE AVISO']).sum()

                                                             DIA
COLABORADOR    HORAS DE SOBRE AVISO
GABRIEL CALDAS 14                             SEGQUISEGSEXQUIQUA
               24                                         DOMSÁB
LUCAS RABELO   14                       QUASEXQUASEGQUATERSEXTER
               24                                   DOMSÁBSÁBDOM
RUAN PABLO     14                    TERTERQUITERSEXSEGQUISEGQUA
               24                                         SÁBDOM

In [41]:
print(df5.groupby('COLABORADOR')['HORAS DE SOBRE AVISO'].sum())

COLABORADOR
GABRIEL CALDAS    132
LUCAS RABELO      208
RUAN PABLO        174
Name: HORAS DE SOBRE AVISO, dtype: int64

In [42]:
dfa= pd.read_excel("Atendimento Links Aggreko.xlsx", sheet_name="Plantão 21032022 - 20042022")
dfa.head()

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,N°,Solicitante,Agente,Localidade,Inicio,Termino,H. Trabalhada,Escalado,Unnamed: 8,Descrição,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,RUAN PABLO,Limoeiro,2022-03-22 22:25:00,2022-03-22 23:37:00,01:12:00,NaN,Pendente,Sem internet na localidade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,RUAN PABLO,Limoeiro,2022-03-22 23:41:00,2022-03-23 00:05:00,00:24:00,NaN,Reestabelecido,Sem internet na localidade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,LUCAS RABELO,Varias Localidades,2022-03-23 20:58:00,2022-03-23 21:50:00,00:52:00,NaN,Reestabelecido,Sem comunicação via Scada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,GABRIEL CALDAS,Fonte Boa,2022-03-24 20:57:00,2022-03-24 22:03:00,01:06:00,NaN,Reestabelecido,Sem internet na localidade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,GABRIEL CALDAS,Limoeiro,2022-03-24 22:18:00,2022-03-24 23:05:00,00:47:00,NaN,Reestabelecido,Sem internet na localidade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
dfa['Trabalhado']=dfa['Termino']-dfa['Inicio']

In [44]:
dfa['Trabalhado']

0     0 days 01:12:00
1     0 days 00:24:00
2     0 days 00:52:00
3     0 days 01:06:00
4     0 days 00:47:00
            ...
101               NaT
102               NaT
103               NaT
104               NaT
105               NaT
Name: Trabalhado, Length: 106, dtype: timedelta64[ns]

In [45]:
dfa1=dfa.drop(dfa[dfa['Trabalhado'].isnull()].index)

In [46]:
dfa2=dfa1[['Agente','Localidade','Inicio','Termino', 'Trabalhado']]
dfa2

,Agente,Localidade,Inicio,Termino,Trabalhado
0,RUAN PABLO,Limoeiro,2022-03-22 22:25:00,2022-03-22 23:37:00,0 days 01:12:00
1,RUAN PABLO,Limoeiro,2022-03-22 23:41:00,2022-03-23 00:05:00,0 days 00:24:00
2,LUCAS RABELO,Varias Localidades,2022-03-23 20:58:00,2022-03-23 21:50:00,0 days 00:52:00
3,GABRIEL CALDAS,Fonte Boa,2022-03-24 20:57:00,2022-03-24 22:03:00,0 days 01:06:00
4,GABRIEL CALDAS,Limoeiro,2022-03-24 22:18:00,2022-03-24 23:05:00,0 days 00:47:00
5,GABRIEL CALDAS,Limoeiro,2022-03-25 04:55:00,2022-03-25 05:26:00,0 days 00:31:00
6,RUAN PABLO,Tefé,2022-03-26 12:34:00,2022-03-26 13:54:00,0 days 01:20:00
7,RUAN PABLO,Fonte Boa,2022-03-26 13:55:00,2022-03-26 15:39:00,0 days 01:44:00
8,LUCAS RABELO,Fonte Boa,2022-03-27 13:05:00,2022-03-27 14:15:00,0 days 01:10:00
9,GABRIEL CALDAS,Alvarães,2022-03-28 19:01:00,2022-03-28 20:40:00,0 days 01:39:00
10,GABRIEL CALDAS,Fonte Boa,2022-03-29 00:25:00,2022-03-29 00:57:00,0 days 00:32:00
11,RUAN PABLO,Tabatinga,2022-03-30 03:13:00,2022-03-30 05:36:00,0 days 02:23:00
12,LUCAS RABELO,Benjamin Constant,2022-03-30 19:17:00,2022-03-30 20:15:00,0 days 00:58:00
13,LUCAS RABELO,Fonte Boa,2022-03-30 20:26:00,2022-03-30 23:00:00,0 days 02:34:00
14,LUCAS RABELO,São Paulo de Olivença,2022-03-31 02:04:00,2022-03-31 02:55:00,0 days 00:51:00
15,LUCAS RABELO,Uarini,2022-03-31 04:55:00,2022-03-31 05:30:00,0 days 00:35:00
16,RUAN PABLO,Ipiranga,2022-03-31 20:18:00,2022-03-31 20:50:00,0 days 00:32:00
17,GABRIEL CALDAS,Uarini,2022-04-01 21:12:00,2022-04-01 22:34:00,0 days 01:22:00
18,GABRIEL CALDAS,Tabatinga,2022-04-02 00:40:00,2022-04-02 01:55:00,0 days 01:15:00
19,LUCAS RABELO,Ipiranga,2022-04-02 07:43:00,2022-04-02 08:40:00,0 days 00:57:00
20,LUCAS RABELO,Uarini,2022-04-02 11:00:00,2022-04-02 12:37:00,0 days 01:37:00
21,LUCAS RABELO,Santo Antônio do Içá,2022-04-02 14:37:00,2022-04-02 15:16:00,0 days 00:39:00
22,RUAN PABLO,Vila Bittencourt,2022-04-03 09:53:00,2022-04-03 10:30:00,0 days 00:37:00
23,RUAN PABLO,Uarini,2022-04-05 18:19:00,2022-04-05 19:52:00,0 days 01:33:00
24,RUAN PABLO,Juruá,2022-04-05 21:01:00,2022-04-05 22:24:00,0 days 01:23:00
25,LUCAS RABELO,São Paulo de Olivença,2022-04-05 21:41:00,2022-04-05 23:19:00,0 days 01:38:00
26,LUCAS RABELO,Eirunepe,2022-04-06 23:30:00,2022-04-07 00:20:00,0 days 00:50:00
27,GABRIEL CALDAS,Limoeiro,2022-04-07 22:39:00,2022-04-07 23:43:00,0 days 01:04:00
28,GABRIEL CALDAS,Uarini,2022-04-07 23:52:00,2022-04-08 00:59:00,0 days 01:07:00
29,GABRIEL CALDAS,Fonte Boa,2022-04-08 01:52:00,2022-04-08 02:39:00,0 days 00:47:00
30,RUAN PABLO,Varias Localidades,2022-04-08 18:27:00,2022-04-09 01:15:00,0 days 06:48:00
31,LUCAS RABELO,Varias Localidades,2022-04-09 07:02:00,2022-04-09 15:49:00,0 days 08:47:00
32,LUCAS RABELO,Tefé,2022-04-09 15:55:00,2022-04-10 01:49:00,0 days 09:54:00
33,GABRIEL CALDAS,Tefé,2022-04-10 07:00:00,2022-04-10 17:40:00,0 days 10:40:00
34,GABRIEL CALDAS,Uarini,2022-04-10 19:11:00,2022-04-10 20:01:00,0 days 00:50:00
35,GABRIEL CALDAS,Uarini,2022-04-11 04:35:00,2022-04-11 05:30:00,0 days 00:55:00
36,RUAN PABLO,Fonte Boa,2022-04-11 18:29:00,2022-04-11 21:27:00,0 days 02:58:00
37,RUAN PABLO,Benjamin Constant,2022-04-11 22:21:00,2022-04-11 23:02:00,0 days 00:41:00
38,RUAN PABLO,Caiambé,2022-04-12 00:39:00,2022-04-12 01:22:00,0 days 00:43:00
39,RUAN PABLO,Vila Bittencourt,2022-04-12 01:36:00,2022-04-12 02:43:00,0 days 01:07:00
40,GABRIEL CALDAS,Uarini,2022-04-14 00:30:00,2022-04-14 01:31:00,0 days 01:01:00
41,RUAN PABLO,Betânia,2022-04-14 20:17:00,2022-04-14 21:57:00,0 days 01:40:00
42,LUCAS RABELO,Caiambé,2022-04-15 18:33:00,2022-04-15 19:45:00,0 days 01:12:00
43,LUCAS RABELO,Uarini,2022-04-15 20:35:00,2022-04-15 21:29:00,0 days 00:54:00
44,LUCAS RABELO,Fonte Boa,2022-04-15 21:40:00,2022-04-15 22:50:00,0 days 01:10:00
45,GABRIEL CALDAS,Santo Antônio do Içá,2022-04-16 08:29:00,2022-04-16 09:36:00,0 days 01:07:00
46,GABRIEL CALDAS,Limoeiro,2022-04-16 10:42:00,2022-04-16 11:27:00,0 days 00:45:00
47,GABRIEL CALDAS,São Paulo de Olivença,2022-04-16 11:37:00,2022-04-16 12:16:00,0 days 00:39:00
48,GABRIEL CALDAS,Juruá,2022-04-16 18:25:00,2022-04-16 20:29:00,0 days 02:04:00
49,GABRIEL CALDAS,Uarini,2022-04-17 05:11:00,2022-04-17 05:39:00,0 days 00:28:00
50,LUCAS RABELO,Limoeiro,2022-04-17 11:22:00,2022-04-17 12:20:00,0 days 00:58:00
51,LUCAS RABELO,Fonte Boa,2022-04-17 12:30:00,2022-04-17 13:15:00,0 days 00:45:00
52,LUCAS RABELO,Juruá,2022-04-17 23:24:00,2022-04-18 00:30:00,0 days 01:06:00
53,RUAN PABLO,Juruá,2022-04-18 19:18:00,2022-04-18 20:50:00,0 days 01:32:00
54,RUAN PABLO,Uarini,2022-04-18 21:13:00,2022-04-18 22:58:00,0 days 01:45:00

In [47]:
dfa2['ValidaQTDE']=dfa2[['Trabalhado']]<timedelta(hours=5)
dfa2

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\3157544996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa2['ValidaQTDE']=dfa2[['Trabalhado']]<timedelta(hours=5)

,Agente,Localidade,Inicio,Termino,Trabalhado,ValidaQTDE
0,RUAN PABLO,Limoeiro,2022-03-22 22:25:00,2022-03-22 23:37:00,0 days 01:12:00,True
1,RUAN PABLO,Limoeiro,2022-03-22 23:41:00,2022-03-23 00:05:00,0 days 00:24:00,True
2,LUCAS RABELO,Varias Localidades,2022-03-23 20:58:00,2022-03-23 21:50:00,0 days 00:52:00,True
3,GABRIEL CALDAS,Fonte Boa,2022-03-24 20:57:00,2022-03-24 22:03:00,0 days 01:06:00,True
4,GABRIEL CALDAS,Limoeiro,2022-03-24 22:18:00,2022-03-24 23:05:00,0 days 00:47:00,True
5,GABRIEL CALDAS,Limoeiro,2022-03-25 04:55:00,2022-03-25 05:26:00,0 days 00:31:00,True
6,RUAN PABLO,Tefé,2022-03-26 12:34:00,2022-03-26 13:54:00,0 days 01:20:00,True
7,RUAN PABLO,Fonte Boa,2022-03-26 13:55:00,2022-03-26 15:39:00,0 days 01:44:00,True
8,LUCAS RABELO,Fonte Boa,2022-03-27 13:05:00,2022-03-27 14:15:00,0 days 01:10:00,True
9,GABRIEL CALDAS,Alvarães,2022-03-28 19:01:00,2022-03-28 20:40:00,0 days 01:39:00,True
10,GABRIEL CALDAS,Fonte Boa,2022-03-29 00:25:00,2022-03-29 00:57:00,0 days 00:32:00,True
11,RUAN PABLO,Tabatinga,2022-03-30 03:13:00,2022-03-30 05:36:00,0 days 02:23:00,True
12,LUCAS RABELO,Benjamin Constant,2022-03-30 19:17:00,2022-03-30 20:15:00,0 days 00:58:00,True
13,LUCAS RABELO,Fonte Boa,2022-03-30 20:26:00,2022-03-30 23:00:00,0 days 02:34:00,True
14,LUCAS RABELO,São Paulo de Olivença,2022-03-31 02:04:00,2022-03-31 02:55:00,0 days 00:51:00,True
15,LUCAS RABELO,Uarini,2022-03-31 04:55:00,2022-03-31 05:30:00,0 days 00:35:00,True
16,RUAN PABLO,Ipiranga,2022-03-31 20:18:00,2022-03-31 20:50:00,0 days 00:32:00,True
17,GABRIEL CALDAS,Uarini,2022-04-01 21:12:00,2022-04-01 22:34:00,0 days 01:22:00,True
18,GABRIEL CALDAS,Tabatinga,2022-04-02 00:40:00,2022-04-02 01:55:00,0 days 01:15:00,True
19,LUCAS RABELO,Ipiranga,2022-04-02 07:43:00,2022-04-02 08:40:00,0 days 00:57:00,True
20,LUCAS RABELO,Uarini,2022-04-02 11:00:00,2022-04-02 12:37:00,0 days 01:37:00,True
21,LUCAS RABELO,Santo Antônio do Içá,2022-04-02 14:37:00,2022-04-02 15:16:00,0 days 00:39:00,True
22,RUAN PABLO,Vila Bittencourt,2022-04-03 09:53:00,2022-04-03 10:30:00,0 days 00:37:00,True
23,RUAN PABLO,Uarini,2022-04-05 18:19:00,2022-04-05 19:52:00,0 days 01:33:00,True
24,RUAN PABLO,Juruá,2022-04-05 21:01:00,2022-04-05 22:24:00,0 days 01:23:00,True
25,LUCAS RABELO,São Paulo de Olivença,2022-04-05 21:41:00,2022-04-05 23:19:00,0 days 01:38:00,True
26,LUCAS RABELO,Eirunepe,2022-04-06 23:30:00,2022-04-07 00:20:00,0 days 00:50:00,True
27,GABRIEL CALDAS,Limoeiro,2022-04-07 22:39:00,2022-04-07 23:43:00,0 days 01:04:00,True
28,GABRIEL CALDAS,Uarini,2022-04-07 23:52:00,2022-04-08 00:59:00,0 days 01:07:00,True
29,GABRIEL CALDAS,Fonte Boa,2022-04-08 01:52:00,2022-04-08 02:39:00,0 days 00:47:00,True
30,RUAN PABLO,Varias Localidades,2022-04-08 18:27:00,2022-04-09 01:15:00,0 days 06:48:00,False
31,LUCAS RABELO,Varias Localidades,2022-04-09 07:02:00,2022-04-09 15:49:00,0 days 08:47:00,False
32,LUCAS RABELO,Tefé,2022-04-09 15:55:00,2022-04-10 01:49:00,0 days 09:54:00,False
33,GABRIEL CALDAS,Tefé,2022-04-10 07:00:00,2022-04-10 17:40:00,0 days 10:40:00,False
34,GABRIEL CALDAS,Uarini,2022-04-10 19:11:00,2022-04-10 20:01:00,0 days 00:50:00,True
35,GABRIEL CALDAS,Uarini,2022-04-11 04:35:00,2022-04-11 05:30:00,0 days 00:55:00,True
36,RUAN PABLO,Fonte Boa,2022-04-11 18:29:00,2022-04-11 21:27:00,0 days 02:58:00,True
37,RUAN PABLO,Benjamin Constant,2022-04-11 22:21:00,2022-04-11 23:02:00,0 days 00:41:00,True
38,RUAN PABLO,Caiambé,2022-04-12 00:39:00,2022-04-12 01:22:00,0 days 00:43:00,True
39,RUAN PABLO,Vila Bittencourt,2022-04-12 01:36:00,2022-04-12 02:43:00,0 days 01:07:00,True
40,GABRIEL CALDAS,Uarini,2022-04-14 00:30:00,2022-04-14 01:31:00,0 days 01:01:00,True
41,RUAN PABLO,Betânia,2022-04-14 20:17:00,2022-04-14 21:57:00,0 days 01:40:00,True
42,LUCAS RABELO,Caiambé,2022-04-15 18:33:00,2022-04-15 19:45:00,0 days 01:12:00,True
43,LUCAS RABELO,Uarini,2022-04-15 20:35:00,2022-04-15 21:29:00,0 days 00:54:00,True
44,LUCAS RABELO,Fonte Boa,2022-04-15 21:40:00,2022-04-15 22:50:00,0 days 01:10:00,True
45,GABRIEL CALDAS,Santo Antônio do Içá,2022-04-16 08:29:00,2022-04-16 09:36:00,0 days 01:07:00,True
46,GABRIEL CALDAS,Limoeiro,2022-04-16 10:42:00,2022-04-16 11:27:00,0 days 00:45:00,True
47,GABRIEL CALDAS,São Paulo de Olivença,2022-04-16 11:37:00,2022-04-16 12:16:00,0 days 00:39:00,True
48,GABRIEL CALDAS,Juruá,2022-04-16 18:25:00,2022-04-16 20:29:00,0 days 02:04:00,True
49,GABRIEL CALDAS,Uarini,2022-04-17 05:11:00,2022-04-17 05:39:00,0 days 00:28:00,True
50,LUCAS RABELO,Limoeiro,2022-04-17 11:22:00,2022-04-17 12:20:00,0 days 00:58:00,True
51,LUCAS RABELO,Fonte Boa,2022-04-17 12:30:00,2022-04-17 13:15:00,0 days 00:45:00,True
52,LUCAS RABELO,Juruá,2022-04-17 23:24:00,2022-04-18 00:30:00,0 days 01:06:00,True
53,RUAN PABLO,Juruá,2022-04-18 19:18:00,2022-04-18 20:50:00,0 days 01:32:00,True
54,RUAN PABLO,Uarini,2022-04-18 21:13:00,2022-04-18 22:58:00,0 days 01:45:00,True

In [48]:
df5['InicioJ']=df5['DATA']+timedelta(hours=17)
df5['TerminoJ']=df5['DATA']+timedelta(hours=31)

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\4222418045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['InicioJ']=df5['DATA']+timedelta(hours=17)
C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\4222418045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['TerminoJ']=df5['DATA']+timedelta(hours=31)

In [49]:
df5.head()

,COLABORADOR,DATA,DIA,HORAS DE SOBRE AVISO,InicioJ,TerminoJ
514,GABRIEL CALDAS,2022-03-21,SEG,14,2022-03-21 17:00:00,2022-03-22 07:00:00
515,RUAN PABLO,2022-03-22,TER,14,2022-03-22 17:00:00,2022-03-23 07:00:00
516,LUCAS RABELO,2022-03-23,QUA,14,2022-03-23 17:00:00,2022-03-24 07:00:00
517,GABRIEL CALDAS,2022-03-24,QUI,14,2022-03-24 17:00:00,2022-03-25 07:00:00
518,LUCAS RABELO,2022-03-25,SEX,14,2022-03-25 17:00:00,2022-03-26 07:00:00

In [150]:
df5['hnomal']=timedelta(0)
df5['addnot']=timedelta(0)
df5.head()

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\709292001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['hnomal']=timedelta(0)
C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\709292001.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['addnot']=timedelta(0)

,COLABORADOR,DATA,DIA,HORAS DE SOBRE AVISO,InicioJ,TerminoJ,hnomal,addnot
514,GABRIEL CALDAS,2022-03-21,SEG,14,2022-03-21 17:00:00,2022-03-22 07:00:00,0 days,0 days
515,RUAN PABLO,2022-03-22,TER,14,2022-03-22 17:00:00,2022-03-23 07:00:00,0 days,0 days
516,LUCAS RABELO,2022-03-23,QUA,14,2022-03-23 17:00:00,2022-03-24 07:00:00,0 days,0 days
517,GABRIEL CALDAS,2022-03-24,QUI,14,2022-03-24 17:00:00,2022-03-25 07:00:00,0 days,0 days
518,LUCAS RABELO,2022-03-25,SEX,14,2022-03-25 17:00:00,2022-03-26 07:00:00,0 days,0 days

In [51]:
def hnormal(inicioA, terminoA, inicioJ, terminoJ, dia):
    hor=[timedelta(),timedelta()]
    faixa_normal=dia+timedelta(hours=22)
    if(inicioA>=inicioJ)&(terminoA<=terminoJ):
        if(terminoA<=faixa_normal):
            hor[0]=hor[0]+ (terminoA - inicioA)
        elif(terminoA>faixa_normal)&(inicioA<faixa_normal):
            hor[0]=hor[0]+(faixa_normal - inicioA)
            hor[1]=hor[1]+(terminoA-faixa_normal)
        else:
            hor[1]=(terminoA - inicioA)
    return hor

In [52]:
semana=['SEG','TER','QUA','QUI','SEX']

In [53]:
def addnot(inicioA, terminoA, inicioJ, terminoJ, dia):
    addnot=timedelta()
    faixa_normal=dia+timedelta(hours=22)
    if(inicioA>=inicioJ)&(terminoA<=terminoJ):
        if(terminoA>faixa_normal):
            addnot=addnot+ (terminoA - inicioA)
        else:
            addnot=addnot+(faixa_normal - inicioA)
    return addnot

In [122]:
def calculo_horas(dfa, dfs, semana):
    dfs=dfs.reset_index()
    dfa=dfa.reset_index()
    for idfs in dfs.index:
        for idfa in dfa.index:
            if(dfa.iloc[idfa]['ValidaQTDE']):
                if (dfs.iloc[idfs]['COLABORADOR']==dfa.iloc[idfa]['Agente']):
                    definicao_dia(dfa, dfs,semana ,idfs, idfa)

In [127]:
def definicao_dia(dfa, dfs, semana, reg, reg2):
    if(dfs.iloc[reg]['DIA'] in semana):
        dia_normal(dfa, dfs, reg, reg2)
        #pass

In [151]:
def dia_normal(dfa, dfs, reg, reg2):
    hora=hnormal(dfa.iloc[reg2]['Inicio'], 
    dfa.iloc[reg2]['Termino'], 
    dfs.iloc[reg]['InicioJ'] , 
    dfs.iloc[reg]['TerminoJ'], 
    dfs.iloc[reg]['DATA'])
    dfs.iloc[reg]['hnomal']=dfs.iloc[reg]['hnomal']+hora[0]
    dfs.iloc[reg]['addnot']=dfs.iloc[reg]['addnot']+hora[1]
    #print(hora)

In [152]:
calculo_horas(dfa2, df5, semana)

C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\2793568818.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs.iloc[reg]['hnomal']=dfs.iloc[reg]['hnomal']+hora[0]
C:\Users\Erik\AppData\Local\Temp\ipykernel_10836\2793568818.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs.iloc[reg]['addnot']=dfs.iloc[reg]['addnot']+hora[1]

In [153]:
df5.reset_index()

,index,COLABORADOR,DATA,DIA,HORAS DE SOBRE AVISO,InicioJ,TerminoJ,hnomal,addnot
0,514,GABRIEL CALDAS,2022-03-21,SEG,14,2022-03-21 17:00:00,2022-03-22 07:00:00,0 days,0 days
1,515,RUAN PABLO,2022-03-22,TER,14,2022-03-22 17:00:00,2022-03-23 07:00:00,0 days,0 days
2,516,LUCAS RABELO,2022-03-23,QUA,14,2022-03-23 17:00:00,2022-03-24 07:00:00,0 days,0 days
3,517,GABRIEL CALDAS,2022-03-24,QUI,14,2022-03-24 17:00:00,2022-03-25 07:00:00,0 days,0 days
4,518,LUCAS RABELO,2022-03-25,SEX,14,2022-03-25 17:00:00,2022-03-26 07:00:00,0 days,0 days
5,519,RUAN PABLO,2022-03-26,SÁB,24,2022-03-26 17:00:00,2022-03-27 07:00:00,0 days,0 days
6,520,LUCAS RABELO,2022-03-27,DOM,24,2022-03-27 17:00:00,2022-03-28 07:00:00,0 days,0 days
7,521,GABRIEL CALDAS,2022-03-28,SEG,14,2022-03-28 17:00:00,2022-03-29 07:00:00,0 days,0 days
8,522,RUAN PABLO,2022-03-29,TER,14,2022-03-29 17:00:00,2022-03-30 07:00:00,0 days,0 days
9,523,LUCAS RABELO,2022-03-30,QUA,14,2022-03-30 17:00:00,2022-03-31 07:00:00,0 days,0 days
10,524,RUAN PABLO,2022-03-31,QUI,14,2022-03-31 17:00:00,2022-04-01 07:00:00,0 days,0 days
11,525,GABRIEL CALDAS,2022-04-01,SEX,14,2022-04-01 17:00:00,2022-04-02 07:00:00,0 days,0 days
12,526,LUCAS RABELO,2022-04-02,SÁB,24,2022-04-02 17:00:00,2022-04-03 07:00:00,0 days,0 days
13,527,RUAN PABLO,2022-04-03,DOM,24,2022-04-03 17:00:00,2022-04-04 07:00:00,0 days,0 days
14,528,LUCAS RABELO,2022-04-04,SEG,14,2022-04-04 17:00:00,2022-04-05 07:00:00,0 days,0 days
15,529,RUAN PABLO,2022-04-05,TER,14,2022-04-05 17:00:00,2022-04-06 07:00:00,0 days,0 days
16,530,LUCAS RABELO,2022-04-06,QUA,14,2022-04-06 17:00:00,2022-04-07 07:00:00,0 days,0 days
17,531,GABRIEL CALDAS,2022-04-07,QUI,14,2022-04-07 17:00:00,2022-04-08 07:00:00,0 days,0 days
18,532,RUAN PABLO,2022-04-08,SEX,14,2022-04-08 17:00:00,2022-04-09 07:00:00,0 days,0 days
19,533,LUCAS RABELO,2022-04-09,SÁB,24,2022-04-09 17:00:00,2022-04-10 07:00:00,0 days,0 days
20,534,GABRIEL CALDAS,2022-04-10,DOM,24,2022-04-10 17:00:00,2022-04-11 07:00:00,0 days,0 days
21,535,RUAN PABLO,2022-04-11,SEG,14,2022-04-11 17:00:00,2022-04-12 07:00:00,0 days,0 days
22,536,LUCAS RABELO,2022-04-12,TER,14,2022-04-12 17:00:00,2022-04-13 07:00:00,0 days,0 days
23,537,GABRIEL CALDAS,2022-04-13,QUA,14,2022-04-13 17:00:00,2022-04-14 07:00:00,0 days,0 days
24,538,RUAN PABLO,2022-04-14,QUI,14,2022-04-14 17:00:00,2022-04-15 07:00:00,0 days,0 days
25,539,LUCAS RABELO,2022-04-15,SEX,14,2022-04-15 17:00:00,2022-04-16 07:00:00,0 days,0 days
26,540,GABRIEL CALDAS,2022-04-16,SÁB,24,2022-04-16 17:00:00,2022-04-17 07:00:00,0 days,0 days
27,541,LUCAS RABELO,2022-04-17,DOM,24,2022-04-17 17:00:00,2022-04-18 07:00:00,0 days,0 days
28,542,RUAN PABLO,2022-04-18,SEG,14,2022-04-18 17:00:00,2022-04-19 07:00:00,0 days,0 days
29,543,LUCAS RABELO,2022-04-19,TER,14,2022-04-19 17:00:00,2022-04-20 07:00:00,0 days,0 days
30,544,RUAN PABLO,2022-04-20,QUA,14,2022-04-20 17:00:00,2022-04-21 07:00:00,0 days,0 days

In [ ]:
hnormal(inicioA, terminoA, inicioJ, terminoJ, dia)

In [ ]:
    
    
    #for reg in dfs.index:
        #for reg2 in dfa.index:
            #print(dfa.iloc[0]['ValidaQTDE'])
            #if(dfa.iloc[reg2]['ValidaQTDE']):
                 # if (dfs.iloc[reg]['COLABORADOR']==dfa.iloc[reg2]['Agente']):
                 #if(dfs.iloc[reg]['DIA'] in semana):

In [ ]:
def dia_normal(dfa, dfs):
    #hnormal(dfa.iloc[reg2]['Inicio'], 
            #dfa.iloc[reg2]['Termino'], 
            #dfs.iloc[reg]['InicioJ'] , 
            #dfa[reg2]['TerminoJ'], 
            #dfs[reg]['Data'])

In [59]:
df5.head()

,COLABORADOR,DATA,DIA,HORAS DE SOBRE AVISO,InicioJ,TerminoJ,hnomal,addnot
514,GABRIEL CALDAS,2022-03-21,SEG,14,2022-03-21 17:00:00,2022-03-22 07:00:00,0,0
515,RUAN PABLO,2022-03-22,TER,14,2022-03-22 17:00:00,2022-03-23 07:00:00,0,0
516,LUCAS RABELO,2022-03-23,QUA,14,2022-03-23 17:00:00,2022-03-24 07:00:00,0,0
517,GABRIEL CALDAS,2022-03-24,QUI,14,2022-03-24 17:00:00,2022-03-25 07:00:00,0,0
518,LUCAS RABELO,2022-03-25,SEX,14,2022-03-25 17:00:00,2022-03-26 07:00:00,0,0

In [60]:
df5.head()

,COLABORADOR,DATA,DIA,HORAS DE SOBRE AVISO,InicioJ,TerminoJ,hnomal,addnot
514,GABRIEL CALDAS,2022-03-21,SEG,14,2022-03-21 17:00:00,2022-03-22 07:00:00,0,0
515,RUAN PABLO,2022-03-22,TER,14,2022-03-22 17:00:00,2022-03-23 07:00:00,0,0
516,LUCAS RABELO,2022-03-23,QUA,14,2022-03-23 17:00:00,2022-03-24 07:00:00,0,0
517,GABRIEL CALDAS,2022-03-24,QUI,14,2022-03-24 17:00:00,2022-03-25 07:00:00,0,0
518,LUCAS RABELO,2022-03-25,SEX,14,2022-03-25 17:00:00,2022-03-26 07:00:00,0,0

In [274]:
type(dfa2['ValidaQTDE'][0])

numpy.bool_

In [276]:
dfa2['ValidaQTDE'][0]==True

True

In [78]:
for reg2 in dfa.index:
    print(dfa2.iloc[0]['ValidaQTDE'])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [74]:
type(dfa.iloc[0])

pandas.core.series.Series

In [76]:
dfa2.iloc[0]['ValidaQTDE']

True